@media (min-width: 1800px) {
  #container {
    width: 1440px;
    margin: 0 auto; } }
@media screen and (max-width: 1799px) {
  body {
    background-image: url(../img/tree-background-test.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: roboto, raleway, sans-serif; }

  #container {
    position: relative;
    width: 100%; } }
