body {
  background-image: url(../img/tree-background-test.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

@media (min-width: 1800px) {
  #container {
    width: 1440px;
    margin: 0 auto;
    height: 300px;
    border: 4px solid black; } }
@media (min-width: 1200px) {
  #container {
    position: relative;
    width: 100%; }

  #logIn {
    position: absolute;
    top: 0;
    right: 20px;
    width: 30%; }
    #logIn ul {
      width: auto;
      float: right;
      display: block; }
    #logIn li {
      display: inline-block;
      float: right;
      margin-right: 20px; }
      #logIn li a {
        font-size: .7em; }

  #navMain {
    display: block;
    background-color: black; }
    #navMain ul {
      width: 70%; }
      #navMain ul li {
        width: auto;
        display: inline-block;
        font-family: roboto-thin,  sans-serif;
        font-size: 1em;
        margin-left: 1%; }
      #navMain ul a {
        text-decoration: none;
        color: white;
        padding: 15px 15px;
        display: block; }
        #navMain ul a:hover {
          color: #71bb75; }

  .float {
    position: relative; }

  .floatStyle {
    width: 85%;
    margin: 0 auto;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px; }

  .sticky {
    position: fixed;
    top: 0;
    z-index: 5000; }

  .stickyStyle {
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }

  #placeholder {
    padding-top: 500px;
    position: relative; }
    #placeholder #leafNote {
      position: absolute;
      width: 20%;
      left: 5%;
      top: 3em; }
    #placeholder #noteText {
      position: absolute;
      width: 35%;
      left: 40%;
      top: 3em; }
    #placeholder p {
      position: absolute;
      top: 9em;
      margin-left: 50%;
      font-size: 2em;
      width: 30%; }

  #mainContent {
    height: 70em;
    padding: 10em; }

  #footContainer {
    background-color: black;
    color: white;
    padding: 40px; } }
