@media screen and (max-width: 1799px) {
  #leafNote {
    position: absolute;
    width: 20%;
    left: 5%;
    top: 3em; }

  #noteText {
    position: absolute;
    width: 35%;
    left: 40%;
    top: 3em; }

  #para {
    position: absolute;
    top: 9em;
    margin-left: 50%;
    font-size: 2em;
    width: 30%; } }
