@media screen and (min-width: 1026px) {
  #navMain {
    display: block;
    background-color: black; }
    #navMain img {
      position: absolute;
      visibility: hidden; }
    #navMain ul {
      width: 70%; }
      #navMain ul li {
        width: auto;
        display: inline-block;
        font-family: roboto, raleway, sans-serif;
        font-size: 1.1em;
        margin-left: 1%; }
      #navMain ul a {
        text-decoration: none;
        color: white;
        padding: 1em;
        display: block; }
        #navMain ul a:hover {
          color: #71bb75; }
    #navMain #logIn {
      position: absolute;
      top: 10%;
      right: 1.25em;
      width: 20%; }
      #navMain #logIn ul {
        width: 100%;
        float: right;
        display: block; }
      #navMain #logIn li {
        display: inline-block;
        float: right;
        margin-right: 20px; }
        #navMain #logIn li a {
          font-size: .8em; }

  .float {
    position: relative; }

  .floatStyle {
    width: 85%;
    margin: 0 auto;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    border-radius: 2.5em; }

  .sticky {
    position: fixed;
    top: 0;
    z-index: 5000; }

  .stickyStyle {
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; } }
@media screen and (max-width: 1025px) {
  #navMain {
    display: block;
    height: 100%;
    background-color: black;
    border-right: 2px solid white; }
    #navMain img:nth-child(2) {
      margin-top: 0.5em;
      width: 60%;
      margin-left: 19%;
      margin-bottom: 1em; }
    #navMain img {
      margin-top: 1em;
      margin-left: 2.5%;
      width: 94%;
      visibility: visible;
      position: static; }
    #navMain ul {
      width: 100%;
      align-content: center;
      overflow-x: hidden; }
      #navMain ul li {
        width: 100%;
        font-family: roboto, raleway, sans-serif;
        font-size: .8em;
        border-bottom: .1em solid white; }
      #navMain ul li:first-child {
        border-top: .1em solid white; }
      #navMain ul a {
        text-decoration: none;
        color: white;
        padding: 1.4em 25%;
        display: block; }
        #navMain ul a:hover {
          color: #71bb75; }
    #navMain #logIn {
      visibility: hidden;
      position: absolute;
      overflow-y: hidden;
      top: 0;
      left: 0;
      width: 0; }
      #navMain #logIn ul {
        width: 100%;
        float: right;
        display: block; }
      #navMain #logIn li {
        display: inline-block;
        float: right;
        margin-right: 20px; }
        #navMain #logIn li a {
          font-size: .7em; }

  .float {
    position: fixed; }

  .floatStyle {
    width: 20%;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em; }

  .stickyStyle {
    width: 20%; } }
@media screen and (max-width: 900px) {
  #navMain {
    display: block;
    height: auto;
    width: 100%;
    background-color: black; }
    #navMain img:nth-child(2) {
      visibility: hidden;
      margin-top: 0;
      width: 0;
      margin-left: 0;
      margin-bottom: 0; }
    #navMain img {
      margin-top: .3em;
      margin-left: 2%;
      width: 12em;
      visibility: visible;
      position: static;
      float: left; }
    #navMain ul {
      position: relative;
      width: auto;
      right: 0;
      float: right; }
      #navMain ul li {
        float: right;
        width: auto;
        height: 100%;
        border-bottom: 0;
        display: inline-block;
        font-size: .75em;
        margin-left: 0;
        border-left: 2px solid white; }
      #navMain ul li:first-child {
        border-top: 0; }
      #navMain ul a {
        text-decoration: none;
        color: white;
        padding: 2.5em 1em; }
        #navMain ul a:hover {
          color: #71bb75; }
    #navMain #logIn {
      visibility: hidden;
      position: absolute;
      overflow-y: hidden;
      top: 0;
      left: 0;
      width: 0; }
      #navMain #logIn ul {
        width: 100%;
        float: right;
        display: block; }
      #navMain #logIn li {
        display: inline-block;
        float: right;
        margin-right: 20px;
        vertical-align: middle; }
        #navMain #logIn li a {
          font-size: .7em; } }
@media screen and (max-width: 720px) {
  #navMain {
    position: static;
    display: block;
    height: 5em;
    width: 100%;
    background-color: black; }
    #navMain img:nth-child(2) {
      visibility: hidden;
      margin-top: 0;
      width: 0;
      margin-left: 0;
      margin-bottom: 0; }
    #navMain img {
      margin-top: .3em;
      margin-left: 2%;
      width: 12em;
      visibility: visible;
      position: static;
      float: left; }
    #navMain ul {
      position: relative;
      width: .1%;
      height: 0.1%;
      right: 0;
      float: right; }
      #navMain ul li {
        float: right;
        width: auto;
        height: 100%;
        border-bottom: 0;
        display: inline-block;
        font-size: .75em;
        margin-left: 0;
        border-left: 2px solid white; }
      #navMain ul li:first-child {
        border-top: 0; }
      #navMain ul a {
        text-decoration: none;
        color: white;
        padding: 2.5em 1em; }
        #navMain ul a:hover {
          color: #71bb75; }
    #navMain #logIn {
      visibility: hidden;
      position: absolute;
      overflow-y: hidden;
      top: 0;
      left: 0;
      width: 0; }
      #navMain #logIn ul {
        width: 100%;
        float: right;
        display: block; }
      #navMain #logIn li {
        display: inline-block;
        float: right;
        margin-right: 20px;
        vertical-align: middle; }
        #navMain #logIn li a {
          font-size: .7em; } }
