@import "_variables.scss";

//----------------  CONTENT ABOVE 1800px (Very large format screens  ie. retina displays))-------
@media (min-width: 1800px) {
#container {
		width: 1440px;
		margin:0 auto;
}}

//-----Desktop style --------------------//
@media screen and (max-width:1799px) {
body {
    background-image: url(../img/tree-background-test.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: roboto, raleway, sans-serif;
}    
    
#container {
        position: relative;
		width: 100%;
} 
}

//-----Tablet Landscape style --------------------//
@media screen and (max-width:1025px) {
 
    
    
}


//-----Tablet Portrait style --------------------//
@media screen and (max-width:769px) {
    
}

//-----Smart Phone style --------------------//
@media screen and (max-width:720px) {
    
}