@import "_variables.scss";

//-----Desktop style --------------------//
@media screen and (min-width:1026px) {

#mainContent {
    height:50em;
    position: relative;
    padding: 10em;
}    
    
}

//----- Tablet Landscape style --------------------//
@media screen and (max-width:1025px) {
    
}

//-----Tablet Portrait style --------------------//
@media screen and (max-width:769px) {
    
}

//-----Smart Phone style --------------------//
@media screen and (max-width:720px) {
    
}
